{% extends "base.html" %}

{% block title %} {{ view.form_class.description_update }} {% endblock %}

{% load crispy_forms_tags %}

{% block content %}
    <h1> {{ view.form_class.description_update }} </h1>

    <form method="POST" enctype = "multipart/form-data"> {% csrf_token %}
        {{form|crispy}}
        <h4> Ingredienti </h4>
        {{ formset.management_form }}
        {% for form in formset %}
            {{ form.as_table }} <br> <br>
        {% endfor %}
        <br>
        <input type="submit" class="btn btn-success" name="aggiungi_ingrediente" value="Aggiungi ingrediente">
        <input type="submit" class="btn btn-primary" name="save" value="Modifica e salva">
    </form>
    <br>

    <a href="{% url 'listaricette' %}">
        <input type="submit" class="btn btn-warning" name="back" value="Torna a tutte le ricette">
    </a>
{% endblock %}