{% extends "base.html" %}

{% block title %} {{ view.form_class.description_update }} {% endblock %}

{% load crispy_forms_tags %}

{% block content %}
    <h1> {{ view.form_class.description_update }} </h1>

    <form method="POST" enctype = "multipart/form-data"> {% csrf_token %}
        {{form|crispy}}
        <h4> Ingredienti </h4>
        {{ formset.management_form }}
        {% for form in formset %}
            {{ form.as_table }} <br> <br>
        {% endfor %}
        <br>
        <input type="submit" name="save" value="Modifica e salva">
        <input type="submit" name="back" value="Torna indietro">
    </form>
{% endblock %}