{% extends "lista_ricette.html" %}

{% block content %}
    ATTENZIONE: Se si arrivato qui ci sono tre possibilitá: 
    <ul>
        <li> Errore nel mio sito web </li>
        <li> Provato a modificare/eliminare una ricetta che non esiste </li>
        <li> Potresti aver fatto il furbetto e aver provato ad modficare/eliminare un ricetta non tua, birichino:</li>

        <div style="width:100%;height:0;padding-bottom:100%;position:relative;">
            <iframe src="https://giphy.com/embed/2zYk0N9ilSztOAPzb0" width="30%" height="30%" style="position:absolute" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
        </div>>
    </ul>
{% endblock %}