{% extends "base.html" %}

{% block content %}

    <h1> {{ricetta.nome}} </h1>
    {% if ricetta.immagine %}
        {% load static %}<img src="{% static ricetta.immagine.url %}" width="300" height="160" align=right Hspace="15" Vspace="0" Border="0">
    {% endif %}    
    <ul>
        <li> Difficoltá: {{ ricetta.difficoltá }} </li>
        <li> Portata: {{ ricetta.portata }} </li>
        <li> Costo: {{ ricetta.costo }} € </li>
        <li> Tempo di preparazione: {{ ricetta.tempo_preparazione }} min </li>
        <li> Tempo di cottura: {{ ricetta.tempo_cottura }} min </li>
        <li> Porzioni: {{ ricetta.porzioni }} </li>
        <li> Autore: {{ ricetta.utente }} </li>
    </ul>
    {% if ricetta.vegetariano %}
        <img src={% static "static/img/vetarian_simbol.png" %} width="60" height="60" Hspace="15" Vspace="0" Border="0">        
    {% endif %}
    {% if ricetta.vegano %}
        <img src={% static "static/img/vegan_simbol.png" %} width="60" height="60" Hspace="15" Vspace="0" Border="0">
    {% endif %}


    <br> <br>
    <h4> Ingredienti </h4>
    <ul>
        {% for ingrediente in ingredienti %}
            <li>{{ ingrediente.nome }} : {{ ingrediente.quantitá }} {{ ingrediente.unita }}</li>
        {% endfor %}
    </ul>

    {% if user.username  == ricetta.utente.username %}
        <a href="{% url 'updatericettaavanzato' ricetta.id %}" class="btn btn-primary"> Modifica Ricetta Avanzato </a>
        <a href="{% url 'deletericetta' ricetta.id %}" class="btn btn-danger"> Cancella Ricetta </a>
    {% endif %}

{% endblock %}