{% extends "base.html" %}

{% block head %}
<head>
    <meta charset="utf-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" 
          integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href='{% static "/css/style.css" %}'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
{% endblock %}

{% load crispy_forms_tags %}

{% block content %}
    <div class = myclass>
        {% if user.is_authenticated %}
            <form action="{% url 'ricetta' ricetta.id %}" method="POST" enctype = "multipart/form-data" >  {% csrf_token %}
                {% for field in form %}
                    {{ field.errors }}
                    Dai un voto alla ricetta:  {{ field }}
                {% endfor %}
                <input type="submit" value="Valuta" class="btn btn-primary">
            </form>
        {% endif %}
    </div>
    <div class = myclass2>
        <h1> {{ricetta.nome}} </h1>
    </div>
    <br> <br> <br>
<div>
    {% if ricetta.immagine %}
        {% load static %}<img src="{% static ricetta.immagine.url %}" width="500" height="300" align=right Hspace="15" Vspace="0" Border="0">
    {% endif %}
    <ul>
        <li> Difficoltá: {{ ricetta.get_difficoltá_display }} </li>
        <li> Portata: {{ ricetta.get_portata_display }} </li>
        <li> Costo: {{ ricetta.costo }} € </li>
        <li> Tempo di preparazione: {{ ricetta.tempo_preparazione }} min </li>
        <li> Tempo di cottura: {{ ricetta.tempo_cottura }} min </li>
        <li> Porzioni: {{ ricetta.porzioni }} </li>
        <li> Autore: {{ ricetta.utente }} </li>
    </ul>
      
</div>
    {% if ricetta.vegetariano %}
        <img src={% static "static/img/vetarian_simbol.png" %} width="80" height="80" Hspace="15" Vspace="0" Border="0">        
    {% endif %}
    {% if ricetta.vegano %}
        <img src={% static "static/img/vegan_simbol.png" %} width="80" height="80" Hspace="15" Vspace="0" Border="0">
    {% endif %}
    {% if ricetta.gluten_free %}
        <img src={% static "static/img/gluten_free_simbol.jpg" %} width="80" height="80" Hspace="15" Vspace="0" Border="0">
    {% endif %}


    <br> <br>
    <h4> Ingredienti </h4>
    <ul>
        {% if ingredienti %}
            {% for ingrediente in ingredienti %}
                {% if ingrediente.nome %}
                    <li>{{ ingrediente.nome }} : {{ ingrediente.quantitá }} {{ ingrediente.unita_di_misura }} </li>
                {% endif %}  
            {% endfor %}
        {% else %}
            Non é stato inserito nessun ingrediente in questa ricetta
        {% endif %}
    </ul>

    <h4> Procedimento </h4>
    {{ ricetta.procedimento }}

    <br> <br>
    {% if user.username  == ricetta.utente.username %}
        <a href="{% url 'updatericettaavanzato' ricetta.id %}" class="btn btn-primary"> Modifica Ricetta </a>
        <a href="{% url 'deletericetta' ricetta.id %}" class="btn btn-danger"> Cancella Ricetta </a>
    {% endif %}
    <br> <br> 
    media recensioni : {{ media_recensioni }} <br> ({{ numero_recensioni }} 
    {% if numero_recensioni == 1 %}
        recensione)
    {% else %}
        recensioni)
    {% endif %}
    <br> <br>
    {% if user.is_authenticated %} 
        <form method='get' action='#'> {% csrf_token %}
            <input type="submit" value="Aggiungi ai preferiti" class="btn btn-warning" name="Aggiungi ai preferiti">
        </form>
        <br>
        {% for msg in messages %}        
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                {{ msg }}
              </div>
        {% endfor %}
    {% endif %}
{% endblock %}