{% extends "base.html" %}

{% block content %}

    <h1> {{ricetta.nome}} </h1>

    {% load static %}<img src="{% static '/img/immagine_di_prova.jpg' %}" width="300" height="160" align=right Hspace="15" Vspace="0" Border="0">
    <ul>
        <li> Difficoltá: {{ ricetta.difficoltá }} </li>
        <li> Regime alimentare: {{ ricetta.regime_alimentare }}</li>
        <li> Portata: {{ ricetta.portata }} </li>
        <li> Costo: {{ ricetta.costo }} € </li>
        <li> Tempo di preparazione: {{ ricetta.tempo_preparazione }} min </li>
        <li> Tempo di cottura: {{ ricetta.tempo_cottura }} min </li>
        <li> Porzioni: {{ ricetta.porzioni }} </li>
        <li> Autore: {{ ricetta.utente }} </li>
    </ul>

    <h4> Ingredienti </h4>
    <ul>
        {% for ingrediente in ingredienti %}
            <li>{{ ingrediente.nome }} : {{ ingrediente.quantitá }}</li>
        {% endfor %}
    </ul>

    {% if user.username  == object.utente.username %}
        <a href="{% url 'updatericettaavanzato' ricetta.id %}" class="btn btn-primary"> Modifica Ricetta Avanzato </a>
        <a href="{% url 'deletericetta' ricetta.id %}" class="btn btn-danger"> Cancella Ricetta </a>
    {% endif %}

{% endblock %}