<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="style.css">
    {% load static %}
    <link rel="stylesheet" type="text/css" href='{% static "/css/style.css" %}'>
</head>
<body>

<div class="topnav">
  <a href="{% url 'homepage' %}">Home</a>
  <a href="{% url 'listaricette' %}">Lista di tutte le ricette</a>
  <a href="{% url 'search' %}">Cerca</a>
  <a href="{% url 'crearicetta' %}">Crea ricetta</a>
  <a href="{% url 'crearicettaavanzato' %}">Crea ricetta Avanzato</a>
</div>

<content>
  {% block content %}

  {% endblock %}
</content>

<div class="footer">
  <p>Footer</p>
</div>

</body>
</html>

