{% extends 'base.html' %}

{% block content %}

    {% for ricetta in object_list %}
        <ul>
            <articole>
                <a href="{% url 'ricetta' ricetta.id %}">
                    {% load static %}<img src="{% static '/img/immagine_di_prova.jpg' %}" width="150" height="80" align=right Hspace="15" Vspace="0" 
                    Border="0">
                    <h2> {{ ricetta }} </h2> 
                    <ul>
                        <li>Difficoltà: {{ ricetta.difficoltá }}</li>
                        <li>Tempo di Realizzazione: {{ ricetta.tempo_preparazione }} min </li>
                    </ul>
                </a> 
            </articole>
        </ul>
    {% endfor %}
    
    
    <p> il numero totale di ricette é {{ view.get_totale_ricette }} </p>

    
 
{% endblock %}

